#flask==2.3.2
#flask_socketio==5.3.4
#gevent==1.4
#eventlet==0.33.3
#google-cloud-secret-manager==2.16.1
#google-cloud-firestore==2.11.1
#bcrypt==4.0.1
#gunicorn==20.1.0
#debugpy==1.6.7
#requests==2.31.0
flask
flask_socketio
gevent
eventlet
google-cloud-secret-manager
google-cloud-firestore
bcrypt
gunicorn
debugpy
requests
