/* Background styles */
body {
  background-color: #393241 !important;
  overflow: hidden;
  font-family: 'Cascadia Code', monospace !important;
}

/* Container styles */
.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
margin: 2%;
  color: rgb(255, 255, 255);


  width: 95%;
}

.content {
  background-color: #282B33;
  padding: 2%;
  width: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Chat form styles */
#name-form {
  width: 100%;
  display: block;
  margin: 0;
  text-align: center;
  align-items: center;
}
#name-form .input-group {
  width: 70%;
  margin: 0 auto;
  height: 50px;
}
.input-group .btn {
  height: 100%;
}
#chat-form {
  width: 100%;
  margin-top: 20px;
}
#chat-form .input-group {
  width: 90%;
  margin: 0 auto;
  height: 50px;
}

/* Messages container styles */
#messages {
  max-height: 60vh;
  overflow-y: auto;
  width: 100%;
  padding: 10px;
  background-color: #282B33;
  border-radius: 5px;
  font-size: 14px;
}

/* Individual message styles */
#messages li {
  margin-bottom: 10px;
}

#messages li strong {
  font-weight: bold;
  color: #F07623;
}

/* Input group append styles */
.input-group-append {
  /* padding: 1%; */
  padding-left: 3%;
}

/* Additional styles */
.mb-3 {
  text-align: center;
}

.form-control {
  border-radius:  var(--bs-border-radius) !important;
}
.chat{
  border-bottom-left-radius:  0 !important;
  border-top-left-radius:  0 !important;
}
/* Footer styles */
.footer {
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

/* Terminal header styles */
.terminal-header {
  display: block;
  align-items: center;
  background-color: #000000;
  color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-bottom: 0;
  width: 100%;
  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.terminal-icon {
  color: rgb(255, 255, 255);
  font-size: 16px;
  margin-right: 5px;
}

.terminal-title {
  font-size: 20px;
  font-weight: bold;
  color: rgb(255, 255, 255);
}
/* Button styles */
.btn {
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.btn-primary {
  background-color: rgb(255, 255, 255) !important;
  color: #000 !important;
}

.btn-primary:hover {
  background-color: #2ef369 !important;
}
